.patrocinadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #E7E9EC 100%, rgba(180, 204, 239, 0.1) 147.79%);
    padding-bottom: 2rem;
}

.patrocinadores h2 {
    font-size: 28px;
    color: #01183A;
    margin-top: 109px;
}

.patrocinadores ul {
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-between;
}

.patrocinadores .large img {
    height: 135px;
    width: 30%;
    background-color: #D9D9D9;
}

@media screen and (max-width: 900px) {
    
    .patrocinadores h2{
        margin-bottom: 60px;
    }
    
    .patrocinadores .large img{
        min-width: 220px;
    }
    .patrocinadores .small img{
        min-width: 180px;
    }
    .patrocinadores ul{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        gap: 15px;
    }
   
    
}
/* .patrocinadores .large .right {
    margin-right: 65px;
}

.patrocinadores .large .left {
    margin-left: 65px;
} */

.patrocinadores .small img {
    height: 135px;
    width: 22%;
    background-color: #D9D9D9;
}

@media screen and (max-width: 600px) {
    .patrocinadores .large img{
        width: 100%;
    }
    .patrocinadores .small img{
        width: 100%;
    }
}
/* .patrocinadores .small .right {
    margin-right: 43px;
}

.patrocinadores .small .left {
    margin-left: 43px;
} */