.footer {
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #f2edff;
    background-color: #a899d4;
  }
  
  .footer p,
  .footer a {
    margin-bottom: 19px;
    font-size: 17px;
    font-weight: 700;
  }
  
  .footer .center {
    max-width: 1030px;
    width: 100%;
    padding: 72px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
  }
  
  .footer .center .left {
    max-width: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
  }
  
  .footer .center .left .logo {
    max-width: 210px;
    width: 100%;
    height: 110px;
    background: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .footer .center .left .links {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-left: 20px;
  }
  
  .footer .divider {
    min-width: 3px;
    height: 220px;
    border-radius: 3px;
    background-color: #a994e1;
  }
  
  .footer .center .right {
    width: 100%;
  }
  
  .footer .center .right .map iframe {
    width: 100%;
    height: 220px;
  }
  
  .footer .center .right .text {
    display: flex;
    justify-content: space-between;
  }
  
  .footer .center .right .email_text {
    color: #032354;
  }
  
  .footer .map {
    width: 100%;
    margin-bottom: 56px;
  }
  
  .simbolos {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .simbolos .fb {
    max-width: 31px;
    width: 100%;
    height: 31px;
    background: url(images/fb.png);
    background-size: cover;
  }
  
  .simbolos .ig {
    max-width: 34px;
    width: 100%;
    height: 34px;
    background: url(images/ig.png);
    background-size: cover;
  }
  
  .simbolos .tt {
    max-width: 34px;
    width: 100%;
    height: 28px;
    background: url(images/tt.png);
    background-size: cover;
  }
  
  .footer .up {
    max-width: 47px;
    width: 100%;
    height: 47px;
    margin: 0;
    background: url(images/up.png);
    background-size: cover;
    align-self: flex-end;
  }
  
  @media (max-width: 1150px) {
    .footer {
      padding: 0 40px;
    }
  
    .footer .center {
      flex-direction: column;
      align-items: center;
    }
  
    .footer .center .left {
      max-width: 100%;
      align-items: center;
      gap: 35px;
    }
  
    .footer .center .left .links {
      flex-direction: row;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
    }
  
    .footer .divider {
      height: 3px;
      width: 60%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .footer .center .right .text {
      flex-direction: column;
      gap: 35px;
      align-items: center;
    }
  }
  